# OCI Infrastructure Variables
# Copy this file to terraform.tfvars and fill in your values

# OCI Infrastructure Variables

# OCI Authentication
# These can also be set via environment variables:
# export TF_VAR_tenancy_ocid="ocid1.tenancy.oc1.."
# export TF_VAR_user_ocid="ocid1.user.oc1.."
# export TF_VAR_fingerprint="xx:xx:xx:..."
# export TF_VAR_private_key_path="~/.oci/oci_api_key.pem"

tenancy_ocid     = "ocid1.tenancy.oc1..."
user_ocid        = "ocid1.user.oc1..."
fingerprint      = "xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:x"
private_key_path = "/Users/<your_username>/.oci/oci_api_key.pem"

# Resource Configuration
# Root/Tenancy Owners: Use your tenancy OCID as the compartment_ocid
# Non-root users: Use your compartment OCID
compartment_ocid    = "ocid1.tenancy.oc1..."
region              = "ap-singapore-1"
availability_domain = "tSgu:AP-SINGAPORE-1-AD-1" # Run 'terraform oci iam availability-domains list' to get yours
environment         = "production"
project_name        = "rezumerai"

# SSH Keys (generate with: ssh-keygen -t ed25519 -f ~/.ssh/rezumerai-worker -C "rezumerai-worker")
ssh_public_key       = "ssh-ed25519 AAAA... rezumerai-worker"
ssh_private_key_path = "/Users/zomeru/.ssh/rezumerai-worker"

# Application Configuration
database_url       = "postgresql://<your_username>:password@localhost:5432/rezumerdb"
openrouter_api_key = "sk-or-v1-aaa..."

# Network Configuration
vcn_cidr = "10.0.0.0/16"
